body {
  background-color: #F3F3F3;
  font: 20px/25px 'inconsolata' black;
  margin: 0;
}

a {
  text-decoration:none;
  color: #555;
}

h1, h2 {
  font: 75px 'Lobster', cursive;
  font-size: 75px;
  color: #555;
}

h1 {
  padding-left: 70px;
}

header {
  width: 100%;
  padding: 100px 0 200px 150px;
  border-bottom: 5px solid #555;
}

header h1{
  font-size: 150px;
  color: #555;
  margin: 0
}

header a img{
  height: 75px;
  padding-right: 50px;
}

.text-right { padding:3% 6% 3% 55%; }
.text-left {
  padding:3% 55% 3% 6%;
}
.text-left, .text-right{
  border-bottom: 5px solid #555;
}

.railsbridge {
  background:url(images/railsbridge.png) fixed no-repeat;
  background-position: right;
}

.passion-projects {
  background:url(images/starfish.png) fixed no-repeat;
  background-position: left;
}

.src2013 {
  background:url(images/plant.png) fixed no-repeat;
  background-position: right;
}

.fluent2013 {
  background:url(images/yak.png) fixed no-repeat;
  background-position:left;
}

.velocity2013 {
  background:url(images/buried-ostrich.png) fixed no-repeat;
  background-position:right;
}

.wicked2013 {
  background:url(images/dino.png) fixed no-repeat;
  background-position:left;
  background-size: 50%;
}

.railsgirls-milan {
  background:url(images/boot.png) fixed no-repeat;
  background-position:right;
  background-size:50%;
}

.fluent2014 {
  background:url(images/squirrel.png) fixed no-repeat;
  background-position:left;
  background-size: 50%;
}

.codemania2014 {
  background:url(images/squirrel.png) fixed no-repeat;
  background-position:right;
  background-size: 50%;
}

footer {
  max-width: 500px;
  margin: 40px auto 0 auto;
  height: 145px;
  background-image: url('images/banana.png');
}

footer p{
  position: absolute;
  margin-top: 105px;
  margin-left: 395px;
}


