body {
  background-color: #F3F3F3;
  font: 20px/25px 'inconsolata' black;
  margin: 0;
}

a {
  text-decoration:none;
  color: #066;
}

a:hover {
  color: #777;
}

h1, h2 {
  font: 75px/70px 'Lobster', cursive;
  margin: 0;
  color: #555;
}

header {
  height: 425px;
  padding: 100px 0 200px 75px;
  border-bottom: 5px solid #555;
  background: url(images/starmonkey.png) no-repeat;
  background-position: bottom right;
}

header h1 {
  font-size: 150px;
  line-height: 175px;
  margin: 0;
}

section {
  margin: 20px 0 0 60px;
  width: 600px;
}

section a img {
  margin: 30px 30px 30px 0;
}

q{
  display: block;
  margin: 30px;
  font: 30px/35px 'Lobster', cursive;
  color: #555;
}

.extra-special{
  color: #F55D71;
}

.text-right {
  padding: 3% 6% 3% 55%;
}

.text-left {
  padding: 3% 55% 3% 6%;
}

.text-left, .text-right{
  border-bottom: 5px solid #555;
}

.passion-projects {
  background:url(images/starfish.png) fixed no-repeat;
  background-position: left;
}

.src2013 {
  background:url(images/tree.png) fixed no-repeat;
  background-position: right;
}

.fluent2013 {
  background:url(images/yak.png) fixed no-repeat;
  background-position: left 100px center;
}

.fluent2013 h2, .fluent2013 a{
  color: #DB6C27;
}
 .fluent2013 p {
  color: #F0A06E;
}


.velocity2013 {
  background:url(images/buried-ostrich.png) fixed no-repeat;
  background-position:right;
}

.wicked2013 {
  background:url(images/dino.png) fixed no-repeat;
  background-position:left;
}

.railsgirls-milan {
  background:url(images/boot.png) fixed no-repeat;
  background-position:right;
}

.fluent2014 {
  background:url(images/robot.png) fixed no-repeat;
  background-position:left;
}

.codemania2014 {
  background:url(images/starmonkey.png) fixed no-repeat;
  background-position:right;
}

.frontendops2014 {
  background:url(images/robot.png) fixed no-repeat;
  background-position:left;
}

.front-in-bh {
  background:url(images/squirrel.png) fixed no-repeat;
  background-position:right;
}

.railsbridge {
  background:url(images/ruby.png) fixed no-repeat;
  background-position: left 200px center;
}

footer {
  max-width: 500px;
  margin: 40px auto 0 auto;
  height: 145px;
  background: url(images/banana.png) no-repeat;
}

footer p{
  position: absolute;
  margin-top: 105px;
  margin-left: 250px;
}

