body {
  background-color: #EFEFEF;
  font: 20px/25px 'inconsolata';
  margin: 0;
}

a {
  text-decoration:none;
  color: #066;
}

a:hover {
  color: #777;
}

header ul li {
  list-style: none;
}

header h1 {
  font-size: 150px;
  line-height: 175px;
  margin: 0;
}

/* Sticker images */

.rachelmyers-sticker {
  width: 90%;
}

.link-sticker img{
  width: 55%
}
.link-sticker:hover {
  border-bottom: 4px solid pink;
}

.footer-sticker {
  width: 100%
}
